.form-card {
  border-radius: 20px;
  padding: 20px;
}

.form-title {
  font-size: 24px;
  font-weight: bold;
}

textarea.form-control {
  resize: none;
}

.form-control,
.form-select {
  border-radius: 10px;
}

.submit-btn {
  border-radius: 10px;
  padding: 10px 25px;
  font-weight: 600;
}